<h1>Article </h1>
<h3>Title: <%= @article.title %></h3>
<p><strong>Description: </strong><%= @article.description %></p>

<%= link_to 'Edit', edit_article_path %> | 
<%= link_to 'Delete', article_path(@article), method: :delete, data: { confirm: 'Are you sure?' } %>
<%= link_to 'Return to index', articles_path %>