<h1 class="my-4 mx-5 text-center"><%= @user.username %>'s Profile</h1>
  <%= gravatar_for @user, size: 200 %>
<% if logged_in? && @user == current_user %>    
  <div class="text-center mt-4">
    <%= link_to 'Edit Your Profile', edit_user_path(@user), class: "btn btn-outline-info" %>
    <%= link_to 'Delete Your Profile', user_path(@user), class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>
<h3 class="mt-4 text-center"><%= @user.username %>'s Articles</h3>
<div class="container">
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <%= render 'articles/article' %>
    <div class="flickr_pagination mb-2">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>