<h1 class="my-4 mx-5 text-center">Category: <%= @category.name %></h1>

<% if logged_in? && current_user.admin? %>    
  <div class="text-center mt-4">
    <%= link_to 'Edit Category', edit_category_path(@category), class: "btn btn-outline-info" %>
    <%= link_to 'Delete Category', category_path(@category), class: "btn btn-outline-danger", method: :delete, data: { confirm: 'Are you sure?' } %>
  </div>
<% end %>

<div class="container">
  <h3 class="mt-4">All articles featuring <%= @category.name %></h3>
  <div class="flickr_pagination">
    <%= will_paginate @articles, :container => false %>
  </div>
  <%= render 'articles/article' %>
    <div class="flickr_pagination mb-2">
    <%= will_paginate @articles, :container => false %>
  </div>
</div>